C 0 0 "RC0_2" 0 0 0 0 60 0 L
X "PIN_TEXT" "RC0_2" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "RC0_1" 0 -100 0 0 60 0 L
X "PIN_TEXT" "RC0_1" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "RC0_0" 0 -200 0 0 60 0 L
X "PIN_TEXT" "RC0_0" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "VREF_2V5" 0 -300 0 0 60 0 L
X "PIN_TEXT" "VREF_2V5" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "AVDD_REG" 0 -400 0 0 60 0 L
X "PIN_TEXT" "AVDD_REG" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "DVDD" 0 -500 0 0 60 0 L
X "PIN_TEXT" "DVDD" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "DNC_1" 0 -600 0 0 60 0 L
X "PIN_TEXT" "DNC_1" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 0 -700 "VBIAS0" 0 -700 0 0 60 0 L
X "PIN_TEXT" "VBIAS0" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 0 -800 "VZERO0" 0 -800 0 0 60 0 L
X "PIN_TEXT" "VZERO0" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 0 -900 "DNC_2" 0 -900 0 0 60 0 L
X "PIN_TEXT" "DNC_2" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
C 0 -1000 "XTALI" 0 -1000 0 0 60 0 L
X "PIN_TEXT" "XTALI" 230 -1030 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1000 0 -1000 -1 0
C 0 -1100 "XTALO" 0 -1100 0 0 60 0 L
X "PIN_TEXT" "XTALO" 230 -1130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -1100 0 -1100 -1 0
C 400 -2100 "DGND_1" 400 -2100 0 0 60 0 L
X "PIN_TEXT" "DGND_1" 430 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 400 -1900 400 -2100 -1 0
C 500 -2100 "DVDD_REG_1V8" 500 -2100 0 0 60 0 L
X "PIN_TEXT" "DVDD_REG_1V8" 530 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 500 -1900 500 -2100 -1 0
C 600 -2100 "CS*" 600 -2100 0 0 60 0 L
X "PIN_TEXT" "CS*" 630 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -1900 600 -2100 -1 0
C 700 -2100 "SCLK" 700 -2100 0 0 60 0 L
X "PIN_TEXT" "SCLK" 730 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1900 700 -2100 -1 0
C 800 -2100 "MOSI" 800 -2100 0 0 60 0 L
X "PIN_TEXT" "MOSI" 830 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -1900 800 -2100 -1 0
C 900 -2100 "MISO" 900 -2100 0 0 60 0 L
X "PIN_TEXT" "MISO" 930 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 900 -1900 900 -2100 -1 0
C 1000 -2100 "GPIO0" 1000 -2100 0 0 60 0 L
X "PIN_TEXT" "GPIO0" 1030 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 1000 -1900 1000 -2100 -1 0
C 1100 -2100 "GPIO1" 1100 -2100 0 0 60 0 L
X "PIN_TEXT" "GPIO1" 1130 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 1100 -1900 1100 -2100 -1 0
C 1200 -2100 "GPIO2" 1200 -2100 0 0 60 0 L
X "PIN_TEXT" "GPIO2" 1230 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 1200 -1900 1200 -2100 -1 0
C 1300 -2100 "RESET*" 1300 -2100 0 0 60 0 L
X "PIN_TEXT" "RESET*" 1330 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 1300 -1900 1300 -2100 -1 0
C 1400 -2100 "DGND_2" 1400 -2100 0 0 60 0 L
X "PIN_TEXT" "DGND_2" 1430 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 1400 -1900 1400 -2100 -1 0
C 1500 -2100 "DNC_3" 1500 -2100 0 0 60 0 L
X "PIN_TEXT" "DNC_3" 1530 -1870 90 0.00 60 0 0 0 0 0 1 0 74
L 1500 -1900 1500 -2100 -1 0
C 2000 0 "AIN3/BUF_VREF1V8" 2000 0 0 0 60 0 R
X "PIN_TEXT" "AIN3/BUF_VREF1V8" 1770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 0 2000 0 -1 0
C 2000 -100 "AFE2" 2000 -100 0 0 60 0 R
X "PIN_TEXT" "AFE2" 1770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -100 2000 -100 -1 0
C 2000 -200 "AFE1" 2000 -200 0 0 60 0 R
X "PIN_TEXT" "AFE1" 1770 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -200 2000 -200 -1 0
C 2000 -300 "RCAL1" 2000 -300 0 0 60 0 R
X "PIN_TEXT" "RCAL1" 1770 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -300 2000 -300 -1 0
C 2000 -400 "RCAL0" 2000 -400 0 0 60 0 R
X "PIN_TEXT" "RCAL0" 1770 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -400 2000 -400 -1 0
C 2000 -500 "VBIAS_CAP" 2000 -500 0 0 60 0 R
X "PIN_TEXT" "VBIAS_CAP" 1770 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -500 2000 -500 -1 0
C 2000 -600 "AVDD_1" 2000 -600 0 0 60 0 R
X "PIN_TEXT" "AVDD_1" 1770 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -600 2000 -600 -1 0
C 2000 -700 "AGND_1" 2000 -700 0 0 60 0 R
X "PIN_TEXT" "AGND_1" 1770 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -700 2000 -700 -1 0
C 2000 -800 "AFE4" 2000 -800 0 0 60 0 R
X "PIN_TEXT" "AFE4" 1770 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -800 2000 -800 -1 0
C 2000 -900 "AFE3" 2000 -900 0 0 60 0 R
X "PIN_TEXT" "AFE3" 1770 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -900 2000 -900 -1 0
C 2000 -1000 "IOVDD" 2000 -1000 0 0 60 0 R
X "PIN_TEXT" "IOVDD" 1770 -1030 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -1000 2000 -1000 -1 0
C 2000 -1100 "DGND_3" 2000 -1100 0 0 60 0 R
X "PIN_TEXT" "DGND_3" 1770 -1130 0 0.00 60 0 0 2 0 0 1 0 74
L 1800 -1100 2000 -1100 -1 0
C 400 900 "EP" 400 900 0 0 60 0 R
X "PIN_TEXT" "EP" 430 670 90 0.00 60 0 0 2 0 0 1 0 74
L 400 700 400 900 -1 0
C 500 900 "RE0" 500 900 0 0 60 0 R
X "PIN_TEXT" "RE0" 530 670 90 0.00 60 0 0 2 0 0 1 0 74
L 500 700 500 900 -1 0
C 600 900 "CE0" 600 900 0 0 60 0 R
X "PIN_TEXT" "CE0" 630 670 90 0.00 60 0 0 2 0 0 1 0 74
L 600 700 600 900 -1 0
C 700 900 "DE0" 700 900 0 0 60 0 R
X "PIN_TEXT" "DE0" 730 670 90 0.00 60 0 0 2 0 0 1 0 74
L 700 700 700 900 -1 0
C 800 900 "SE0" 800 900 0 0 60 0 R
X "PIN_TEXT" "SE0" 830 670 90 0.00 60 0 0 2 0 0 1 0 74
L 800 700 800 900 -1 0
C 900 900 "AGND_REF" 900 900 0 0 60 0 R
X "PIN_TEXT" "AGND_REF" 930 670 90 0.00 60 0 0 2 0 0 1 0 74
L 900 700 900 900 -1 0
C 1000 900 "VREF_1V82" 1000 900 0 0 60 0 R
X "PIN_TEXT" "VREF_1V82" 1030 670 90 0.00 60 0 0 2 0 0 1 0 74
L 1000 700 1000 900 -1 0
C 1100 900 "AGND_2" 1100 900 0 0 60 0 R
X "PIN_TEXT" "AGND_2" 1130 670 90 0.00 60 0 0 2 0 0 1 0 74
L 1100 700 1100 900 -1 0
C 1200 900 "AVDD_2" 1200 900 0 0 60 0 R
X "PIN_TEXT" "AVDD_2" 1230 670 90 0.00 60 0 0 2 0 0 1 0 74
L 1200 700 1200 900 -1 0
C 1300 900 "AIN4/LPF0" 1300 900 0 0 60 0 R
X "PIN_TEXT" "AIN4/LPF0" 1330 670 90 0.00 60 0 0 2 0 0 1 0 74
L 1300 700 1300 900 -1 0
C 1400 900 "AIN0" 1400 900 0 0 60 0 R
X "PIN_TEXT" "AIN0" 1430 670 90 0.00 60 0 0 2 0 0 1 0 74
L 1400 700 1400 900 -1 0
C 1500 900 "AIN1" 1500 900 0 0 60 0 R
X "PIN_TEXT" "AIN1" 1530 670 90 0.00 60 0 0 2 0 0 1 0 74
L 1500 700 1500 900 -1 0
C 1600 900 "AIN2" 1600 900 0 0 60 0 R
X "PIN_TEXT" "AIN2" 1630 670 90 0.00 60 0 0 2 0 0 1 0 74
L 1600 700 1600 900 -1 0
L 200 700 1800 700 -1 0
L 1800 -1900 1800 700 -1 0
L 1800 -1900 200 -1900 -1 0
L 200 700 200 -1900 -1 0
P "$LOCATION" "?" 1850 870 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

